<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Register - EmotiArt</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <main class="container">
      <div class="form-container">
        <h2>Register</h2>
        <form method="post">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.username.label }} {{ form.username(class="form-control") }}
            {% if form.username.errors %}
            <div class="error">{{ form.username.errors[0] }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.email.label }} {{ form.email(class="form-control") }} {% if
            form.email.errors %}
            <div class="error">{{ form.email.errors[0] }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.password.label }} {{ form.password(class="form-control") }}
            {% if form.password.errors %}
            <div class="error">{{ form.password.errors[0] }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.confirm_password.label }} {{
            form.confirm_password(class="form-control") }} {% if
            form.confirm_password.errors %}
            <div class="error">{{ form.confirm_password.errors[0] }}</div>
            {% endif %}
          </div>
          <div class="form-group">{{ form.submit(class="button") }}</div>
          <a href="{{ url_for('main.index') }}" class="button">Back to Home</a>
        </form>
        <p>
          Already have an account?
          <a href="{{ url_for('main.login') }}">Login here</a>.
        </p>
      </div>
    </main>
    <footer class="footer">
      <p style="font-size: xx-small">Copyright © 2024 EmotiArt</p>
    </footer>
  </body>
</html>
