<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="csrf-token" content="{{ csrf_token() }}" />

    <title>{{ artwork.title }} - EmotiArt</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <main class="container">
      <div class="artwork-detail">
        <h2>{{ artwork.title }}</h2>
        <img
          src="{{ url_for('static', filename='uploads/' + artwork.filename) }}"
          alt="{{ artwork.title }}"
          class="artwork-image"
        />
        <p><strong>Description:</strong> {{ artwork.description }}</p>
        <p><strong>Artist:</strong> {{ artwork.creator.username }}</p>
      </div>

      <div id="comments">
        <h3>Comments</h3>
        {% if comments %}
        <ul>
          {% for comment in comments %}
          <li class="comment">
            <strong>{{ comment.user.username }}</strong> at
            <time>{{ comment.timestamp.strftime('%Y-%m-%d %H:%M') }}</time>
            <p>{{ comment.content }}</p>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No comments yet. Be the first to comment!</p>
        {% endif %} {% if session.get('logged_in', False) %}
        <form
          action="{{ url_for('main.show_artwork', artwork_id=artwork.id) }}"
          method="post"
        >
          {{ form.hidden_tag() }} {{ form.csrf_token }}
          <div class="form-group">
            {{ form.content.label }} {{ form.content(class="form-control") }}
          </div>
          <div class="form-group">
            <button type="submit" class="button">Add Comment</button>
          </div>
        </form>
        {% else %}
        <p>
          <a href="{{ url_for('main.login') }}">Log in</a> to post comments.
        </p>
        {% endif %}
      </div>

      <a href="{{ url_for('main.gallery') }}" class="button">Back to Gallery</a>
    </main>

    <footer class="footer">
      <p style="font-size: xx-small">Copyright © 2024 EmotiArt</p>
    </footer>
  </body>
</html>
